@font-face {
font-family: 'Trajan Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Trajan Pro Regular'), url('../webfonts/TrajanPro-Regular.woff') format('woff');
}


@font-face {
font-family: 'Trajan Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Trajan Pro Bold'), url('../webfonts/TrajanPro-Bold.woff') format('woff');
}